@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap');

h1 {
    font-size: 24px; /* Adjust the size as needed */
    text-align: center;
    color: #c2bcbc;
    margin-bottom: 20px; /* Adds space below the headline */
}

body {
    font-family: 'Merriweather', serif;
    background-color: #796768;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h2 {
    color: #a6313e;
    font-size: 18px;
}

th, td {
    color: #3f3939;
    font-size: 14px;
}

.container {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px; /* Reducer padding for celler */
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #5d4043;
    color: #bb8b8b;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f7edd7;
}

tr:hover {
    background-color: #f7edd7;
}

a, button {
    background-color: #a13941;
    color: white;
    padding: 6px 12px; /* Reducer padding for knapper */
    font-size: 12px; /* Mindre skriftstørrelse for knapper */
    text-decoration: none;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

a.attraction-link {
    background-color: transparent;
    color: #3f3939;
    padding: 0;
    border: none;
    border-radius: 0;
    text-decoration: underline;
    transition: color 0.3s;
}

/* Adjust hover effect */
a.attraction-link:hover {
    color: #a13941; /* Changes text color on hover */
    background-color: transparent; /* Ensures background remains transparent on hover */
}

.add-attraction-btn {
    margin-top: 20px !important;
    margin: 20px;
}

a:hover, button:hover {
    background-color: #8b2e35;
}

footer {
    background-color: #a13941;
    color: white;
    padding: 1rem;
    position: relative;
    width: 100%;
}

/* Responsive adjustments */
@media (min-width: 768px) {
    .container {
        width: 60%; /* Tighter container for larger screens */
    }
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group label, .form-group input, .form-group select {
    font-size: 12px; /* Mindre skriftstørrelse for form elementer */
}

/* Tilpasning for at sikre, at alt er centreret */
.centered-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7edd7;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgb(196, 153, 153);
}

.header-content {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%; /* Sikre, at header-content tager hele bredden */
}

.navigation-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navigation-menu li {
    margin-left: 20px;
}

.navigation-menu a {
    text-decoration: none;
    color: #c2bcbc; /* Skift til ønsket tekstfarve */
    background-color: transparent;
    font-size: 24px;
    font-weight: bold;
}

.navigation-menu a:hover,
.navigation-menu a:focus {
    color: #ffffff; /* Skift til ønsket hover/fokus farve */
}

.header-logo-link {
    text-decoration: none;
    background: transparent;
    color: inherit;
    font-family: "Kalnia", serif;
    color: #796768;
    font-size: 60px;
    display: flex; /* Added to align title and logo */
    align-items: center; /* Aligns items vertically */
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}

.header-logo-link:hover {
    background: transparent;
}

.site-logo {
    margin-right: 15px;
}

/* new rule for the logo image */
.logo-image {
    width: 80px; /* Adjust as needed */
    height: auto;
    margin-right: 20px;
}


